.subtitulo4 {
    border-bottom: 1px solid #EDEDED;
    width: 1250px;
    margin: 100px auto 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto-izquierda {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .t1 {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
   
  }
  
  .cat {
    color: #008ECC;
    font-size: 20px;
    font-weight: 600;
  }
  
  .linea-texto {
    width: 281px;
    display: flex;
    
    border-bottom: 3px solid #008ECC;
    
  }
  
  .view1 {
    display: flex;
    align-items: center;
  }
  
  .views {
    width: 115px;
    height: 25px;
  }
  .categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Espacio entre categorías */
    margin-top: 30px;
    flex-wrap: wrap; /* Para que se ajuste bien en pantallas más pequeñas */
  }
  
  .categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 132px;
  }
  
  .categoria img {
    width: 132px;
    height: 172px;
    object-fit: contain;
  }
  
  .categoria p {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }