.subtitulo5 {
    border-bottom: 1px solid #EDEDED;
    width: 1250px;
    margin: 100px auto 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .texto3-izquierda {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .t3{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
   
  }
  .electro{
    color: #008ECC;
    font-size: 22px;
    font-weight: 600;
  }
  
  .linea-texto3 {
    width: 281px;
    display: flex;
    border-bottom: 3px solid #008ECC;
    
  }
  
  .view3{
    display: flex;
    align-items: center;
  }
  
  .views3{
    width: 115px;
    height: 25px;
  }
  
.telefonos-oferta {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    text-align: center;
  }
  
  .telefonos-oferta .card {
    width: 389px;
    height: 207px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .telefonos-oferta .card img {
    width: 355px;
    margin-top: 45px;
  }

/* Puntos */
.puntos-navegacion {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.punto {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
}
.punto.activo {
  width: 16px;
  border-radius: 6px;
  background: #00b6ff;
}