.header2 {
  width: 1410px;
  height: 90px;
   display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
 
    
  }
 
 
 .logo img {
  margin-bottom: 2rem;
  height: 37px;
  margin-left: 8rem;
  }
 
 
 .megamart img{
  margin-bottom: 2rem;
  width: 118px;
  height: 18px;
  margin-right: 24rem;
 }
 
 
 .search img{
  margin-bottom: 1rem;
  width: 507 px;
  height: 48px;
  margin-left: 25px;
 }
 
 
 .header2-icons {
  margin-bottom: 1rem;
  display: flex;
  gap: 7px;
  align-items: center;
 }
 
 
 .header2-icons img {
  width: 120px;
  height: 25px;
  }
 
