
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  font-family: Arial, sans-serif;
  background-color: white;
  
  box-sizing: border-box;
}

/* Sección izquierda */
.left-section img {
  height: 30px;
  margin-right: 10px;
}

/* Sección centro */
.center-section {
  display: flex;
 flex-direction: column;
   align-items: center;
 
  
  gap: 800px;
}

.megamart-text {
  font-size: 22px;
  font-weight: bold;
  color: #009ee3;


}

/* Caja de búsqueda */
.search-box {
  display: flex;
  align-items: center;
  background-color: #f3f9fb;
  border-radius: 20px;
  padding: 8px 16px;
  width: 500px;
  
}

.search-box img {
  height: 20px;
  margin: 0 8px;
}

.placeholder {
  color: #999;
  font-size: 14px;
  flex-grow: 1;
}

/* Sección derecha */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-section .user,
.right-section .cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.right-section img {
  height: 25px;
}

.icon-text {
  font-size: 14px;
  color: #333;
}
